Source: truenas_verify
Maintainer: iX Development Team <dev@ixsystems.com>
Section: python
Priority: optional
Build-Depends:	debhelper (>= 12), dh-python
Standards-Version: 4.3.0

Package: python3-truenas-verify
Architecture: all
Depends:	${misc:Depends}, ${python3:Depends}
Description: TrueNAS SCALE File Hash Verification
